# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
.env

# Build output
dist/
build/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional
*.zip
*.rar
